<button class="btn btn-default" id="addRecordButton" data-toggle="modal" data-target="#addRecordModal">Add New Record</button>

<div class="modal fade" id="addRecordModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" id="addRedcordDialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="addRecordModalTitle">Add Record</h3>  
      </div>
      <div class="modal-body">
        <form id="recordCardForm">
          <!-- Date -->
          <label for="activityDate" class="active">Activity Date</label>
          <input id="activityDate" type="date" class="datepicker" class="form-control" #activityDate>

          <!-- Activity Code -->
          <label for="activity">Activity Code</label>
          <select id="activity" class="form-control" placeholder="Choose an Activity" (change)="activityDropdown(activity.value)" #activity>
            <option value="" disabled selected>Choose an Activity</option>
            <option *ngFor="let activity of activityList | async" [value]="activity.id">{{ activity.name }}</option>
          </select>
          
          <!-- Fitness activity -->
          <div class="fitnessActivity" [hidden]="activity.value != '1'">
            <label for="fitnessActivity">Fitness Activity</label>
            <select id="fitnessActivity" class="form-control" placeholder="Choose a Fitness Activity" (change)="fitnessDropdown(fitnessActivity.value)" #fitnessActivity>
              <option value="" disabled selected>Choose a Fitness Activity</option>
              <option *ngFor="let fitnessActivity of fitnessList | async" [value]="fitnessActivity.id">{{ fitnessActivity.name }}</option>
            </select>
          </div>

          <!-- Personal Development -->
          <div class="personalDevelopment" [hidden]="activity.value != '4'">
            <label for="personalDevelopment">Personal Development</label>
            <select id="personalDevelopment" class="form-control" placeholder="Choose a Personal Development Activity" (change)="personalDevDropDown(personalActivity.value)" #personalActivity>
              <option value="" disabled selected>Choose a Personal Development Activity</option>
              <option *ngFor="let personalActivity of personalDevList | async" [value]="personalActivity.id">{{ personalActivity.name }}</option>
            </select>
          </div>

          <!-- Volunteering -->
          <div class="volunteering" [hidden]="activity.value != 5">
            <label for="volunteering">Volunteering</label>
            <select id="volunteering" class="form-control" placeholder="Choose a Volunteering Activity" (change)="volunteerDropDown(volunteerActivity.value)" #volunteerActivity>
              <option value="" disabled selected>Choose a Volunteering Activity</option>
              <option *ngFor="let volunteerActivity of volunteeringList | async" [value]="volunteerActivity.id">{{ volunteerActivity.name }}</option>
            </select>
          </div>

          <!-- Duration -->
          <div class="duration" [hidden]="activity.value == '' || activity.value == '0' || activity.value == '2' || activity.value == '3' || activity.value == '4' || activity.value == '5' || activity.value == '6' || activity.value == '7' || activity.value == '8' || activity.value == '9' || activity.value == '10' || activity.value == '11' || activity.value == '12'">
            <label for="duration" class="active">Duration</label>
            <div class="input-group">
              <input id="duration" class="form-control" value="{{ durationString }}" #duration disabled>
              <span class="input-group-btn">
                <button class="btn btn-success" (click)="increaseDuration(duration.value)">+</button>
                <button class="btn btn-danger" (click)="decreaseDuration(duration.value)">-</button>
              </span>
            </div>
          </div>
          
          <!-- Points Earned -->
          <label for="pointsEarned" class="active">Points Earned</label>
          <input id="pointsEarned" type="number" class="form-control" value="{{ pointsValue }}" #pointsEarned disabled>

          <!-- Notes -->
          <label for="notes">Extra Notes</label>
          <input id="notes" class="active" maxlength="55" class="form-control" #notes>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">Submit Record</button> <!-- Needs click -->
      </div>
    </div>
  </div>
</div>