#addRecordButton {
    float: right;
}
#submitFormButton {
    margin-top: 20px;
}
#addRedcordDialog {
    max-width: 350px;
    margin: 100px auto;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}