<div class="recordCardHeader">
    <h1>Record Card</h1>
    <add-record></add-record>
</div>

<input class="form-control" (keyup)="0" [(ngModel)]="filterValue" />
<table id="recordsTable" class="table table-hover">
    <thead>
        <tr>
            <th id="dateColumn">Date</th>
            <th id="activityColumn">Activity</th>
            <th id="durationColumn">Duration</th>
            <th id="pointsColumn">Points Earned</th>
            <th id="actionsColumn">Actions</th>
        </tr>        
    </thead>
    <tbody>
        <ng-container *ngFor="let record of records | async | filterRecordsPipe: filterValue">
              <tr id="recordsRow" data-toggle="collapse" [attr.data-target]="'#' + record.$key">
                <td>{{ record.activityDate }}</td>
                <td>{{ record.activity }}</td>
                <td>{{ record.duration }}</td>
                <td>{{ record.pointsEarned }}</td>
                <td>
                    <button class="btn btn-info btn-xs" disabled>Edit</button>
                    <button class="btn btn-danger btn-xs" disabled>Delete</button>
                </td>
            </tr>
            <tr class="collapse" id="{{ record.$key }}">
                <td colspan="6">
                    <ul>
                        <li><strong>Activity Details:</strong> {{ record.fitnessActivity }}{{ record.personalActivity }}{{ record.volunteerActivity }}</li>
                        <li><strong>Notes:</strong> {{ record.notes }}</li>
                    </ul>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>



