<h2>Eligible Activities</h2>
<br />
<div class="panel panel-warning"> 
  <div class="panel-heading"> 
    <h3 class="panel-title">Fitness (Continuous participation - no breaks, timeouts, etc.)</h3> 
  </div> 
  <div class="panel-body"> 
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Activity</th>
        <th>Duration</th>
        <th>Points Earned</th>
        <th>Activity</th>
        <th>Duration</th>
        <th>Points Earned</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Aerobics</td>
        <td>15 mins</td>
        <td>1 point</td>
        <td>Ice Hockey</td>
        <td>12 mins</td>
        <td>1 point</td>
      </tr>
      <tr>
        <td>Badminton</td>
        <td>20 mins</td>
        <td>1 point</td>
        <td>Inline/Roller Blading</td>
        <td>15 mins</td>
        <td>1 point</td>
      </tr>
      <tr>
        <td>Baseball/Softball</td>
        <td>1 game</td>
        <td>2 points</td>
        <td>Jogging</td>
        <td>15 mins</td>
        <td>1 point</td>
      </tr>
      <tr>
        <td>Basketball</td>
        <td>12 mins</td>
        <td>1 point</td>
        <td>Judo, Karate, Kick Boxing</td>
        <td>10 mins</td>
        <td>1 point</td>
      </tr>
      <tr>
        <td>Bicycling/Exercise Bike</td>
        <td>15 mins</td>
        <td>1 point</td>
        <td>Kayaking/Canoeing</td>
        <td>20 mins</td>
        <td>1 point</td>
      </tr>
      <tr>
        <td>Cross Country Skiing</td>
        <td>12 mins</td>
        <td>1 point</td>
        <td>Rowing</td>
        <td>15 mins</td>
        <td>1 point</td>
      </tr>
      <tr>
        <td>Dancing</td>
        <td>20 mins</td>
        <td>1 point</td>
        <td>Running (10 min. mile)</td>
        <td>10 mins</td>
        <td>1 point</td>
      </tr>
      <tr>
        <td>Downhill Skiing</td>
        <td>15 mins</td>
        <td>1 point</td>
        <td>Soccer</td>
        <td>15 mins</td>
        <td>1 point</td>
      </tr>
      <tr>
        <td>Dragon Boat</td>
        <td>12 mins</td>
        <td>1 point</td>
        <td>Stair-climbing</td>
        <td>20 mins</td>
        <td>1 point</td>
      </tr>
      <tr>
        <td>Frisbee (or Ultimate)</td>
        <td>30 mins</td>
        <td>1 point</td>
        <td>Swimming</td>
        <td>12 mins</td>
        <td>1 point</td>
      </tr>
      <tr>
        <td>Golf (Carrying Clubs)</td>
        <td>9 holes</td>
        <td>2 points</td>
        <td>Tennis</td>
        <td>15 mins</td>
        <td>1 point</td>
      </tr>
      <tr>
        <td>Golf (Cart)</td>
        <td>9 holes</td>
        <td>1 point</td>
        <td>Volleyball (beach)</td>
        <td>12 mins</td>
        <td>1 point</td>
      </tr>
      <tr>
        <td>Grouse Grind</td>
        <td>10 mins</td>
        <td>1 point</td>
        <td>Volleyball (court)</td>
        <td>30 mins</td>
        <td>1 point</td>
      </tr>
      <tr>
        <td>Handball/Squash/Racquetball</td>
        <td>10 mins</td>
        <td>1 point</td>
        <td>Walking (Moderate pace)</td>
        <td>30 mins</td>
        <td>1 point</td>
      </tr>
      <tr>
        <td>Hiking</td>
        <td>25 mins</td>
        <td>1 point</td>
        <td>Weight Training</td>
        <td>15 mins</td>
        <td>1 point</td>
      </tr>
      <tr>
        <td>Horseback Riding</td>
        <td>20 mins</td>
        <td>1 point</td>
        <td>Yoga</td>
        <td>12 mins</td>
        <td>1 point</td>
      </tr>
    </tbody>
    </table>  
  </div>
</div>

<div class="panel panel-warning"> 
  <div class="panel-heading"> 
    <h3 class="panel-title">Personal Development</h3> 
  </div> 
  <div class="panel-body"> 
    <ul>
      <li>First Aid, CPR, or other non-credit courses approved by Central 1 Credit Union <span class="listPointTotal">10 points</span></li>
      <li>Post-Secondary courses (Employees must enroll on their own initiative and complete the course successfully) <span class="listPointTotal">25 points</span></li>
    </ul>
   </div>
</div>

<div class="panel panel-warning"> 
  <div class="panel-heading"> 
    <h3 class="panel-title">Volunteering</h3> 
  </div> 
  <div class="panel-body"> 
    <ul>
      <li>External - volunteering in the community<span class="listPointTotal">5 points</span></li>
      <li>Internal - participation on Central 1 Volunteer Committees
        <ul>
          <li>points to join<span class="listPointTotal">15 points</span></li>
          <li>points per committee meeting<span class="listPointTotal">3 points</span></li>
          <li>points per hour spent on committee business outside of work hours<span class="listPointTotal">5 points</span></li>
        </ul>
      </li>
    </ul>
   </div>
</div>

<div class="panel panel-warning"> 
  <div class="panel-heading"> 
    <h3 class="panel-title">Attendance</h3> 
  </div> 
  <div class="panel-body"> 
    <ul>
      <li>Perfect work attendance (points per quarter)<span class="listPointTotal">25 points</span></li>
    </ul>
   </div>
</div>

<div class="panel panel-warning"> 
  <div class="panel-heading"> 
    <h3 class="panel-title">Environmental Responsibility</h3> 
  </div> 
  <div class="panel-body"> 
    <ul>
      <li>Walking, using public transportation, or carpooling to work (points per month)<span class="listPointTotal">15 points</span></li>
    </ul>
   </div>
</div>

<div class="panel panel-warning"> 
  <div class="panel-heading"> 
    <h3 class="panel-title">Donating Blood</h3> 
  </div> 
  <div class="panel-body"> 
    <ul>
      <li>Per donation<span class="listPointTotal">10 points</span></li>
    </ul>
   </div>
</div>

<div class="panel panel-warning"> 
  <div class="panel-heading"> 
    <h3 class="panel-title">Quit Smoking</h3> 
  </div> 
  <div class="panel-body"> 
    <ul>
      <li>Quit smoking for 1 month<span class="listPointTotal">200 points</span></li>
      <li>Quit smoking for 3 month<span class="listPointTotal">200 points</span></li>
      <li>Quit smoking for 6 month<span class="listPointTotal">200 points</span></li>
      <li>Quit smoking for 12 month<span class="listPointTotal">200 points</span></li>
    </ul>
   </div>
</div>

<div class="panel panel-warning"> 
  <div class="panel-heading"> 
    <h3 class="panel-title">Weight Loss</h3> 
  </div> 
  <div class="panel-body"> 
    <ul>
      <li>Initial weight loss (minimum 10 pounds)<span class="listPointTotal">200 points</span></li>
      <li>Weight loss maintained for 6 months<span class="listPointTotal">200 points</span></li>
      <li>Weight loss maintained for 12 months<span class="listPointTotal">200 points</span></li>
    </ul>
   </div>
</div>