<!--<h4>Eligible Activities</h4>

 <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">Fitness (Continuous participation - no breaks, timeouts, etc.)</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header">Personal Development</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header">Volunteering</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header">Attendance</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header">Environmental Responsibility</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header">Donating Blood</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header">Quit Smoking</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header">Weight Loss</div>
      <div class="collapsible-body">
          <table class="striped">
            <thead>
              <tr>
                <th>Activity</th>
                <th>Points Earned</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Initial weight loss (minimum 10 pounds)</td>
                <td>200 points</td>
              </tr>
              <tr>
                <td>Weight loss maintained for 6 months</td>
                <td>200 points</td>
              </tr>
              <tr>
                <td>Weight loss maintained for 12 months</td>
                <td>200 points</td>
              </tr>
            </tbody>
          </table>
      </div>
    </li>
  </ul>-->